html {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  cursor: default;
}

body {
  width: 100vw:
  min-height: 100vh;

  background-image: url('../../desktop/indicators/Wild%20Night.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  width: 100vw;
  height: 32px;
}

nav * {
  align-self: center;

  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 2px 10px rgba(0,0,0,0.7);

  color: #fff;
}

nav .slingshot {
  margin-left: 10px;
}

nav #datetime {
  margin-left: auto;
  margin-right: auto;
}

nav .indicator:not(#datetime) {
  height: 16px;
  padding: 8px;
  margin: 0 4px;
}

.window.main {
  overflow: hidden;
}

.toolbar {
  width: calc(100% - 12px);
  height: auto;
}

.toolbar .center {
  margin-left: 12px;
  margin-right: 12px;
}

#urlbar {
  width: 100%;
  color: #333;
  font-weight: normal;
}

#tabbar {
  display: flex;
  height: 24px;

  background-image: url('tabbar.png');
  background-size: 100% 100%;
}

#new-tab {
  position: relative;
  padding: 3px;
}

#tabbar:active {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('tabbar.png');
}

#notebook {
  position: relative;
}