/*
 * Animations
 */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-32px);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

/*
 * Switch Style
 */

.switch {
  display: none;
}

.switch + label {
  display: inline-block;
  width: 48px;
  height: 24px;

  color: transparent;
  transition: all 100ms ease-in;
}

.switch:not(:checked) + label {
  background-image: url("switch-off.png");
}

.switch:checked + label {
  background-image: url("switch-on.png");
}

/*
 * Desktop Style
 */

html {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  cursor: default;
}

body {
  width: 100vw:
  min-height: 100vh;

  background-image: url("Wild%20Night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  width: 100vw;
  height: 32px;
}

nav * {
  align-self: center;

  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 2px 10px rgba(0,0,0,0.7);

  color: #fff;
}

nav .slingshot {
  margin-left: 10px;
}

nav #datetime {
  margin-left: auto;
  margin-right: auto;
}

nav .indicator:not(#datetime) {
  height: 16px;
  padding: 8px;
  margin: 0 4px;
}

/*
 * Popover
 */

.popover {
  position: absolute;
  top: 45px;
  right: 1px;

/*  width: 300px;*/
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 12px;

  background-image: linear-gradient(rgb(248,248,248),
                                    rgb(248,248,248) 70%,
                                    rgb(238,238,238));
  background-clip: padding-box;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.35);
  box-shadow: 0 8px 60px rgba(0,0,0,0.7);
  transition: all 300ms ease-in;
}

.popover.top::before {
  position: absolute;
  top: -23px;
  z-index: 2;

  width: 0;
  height: 0;

  border: 12px solid transparent; /* arrow size */
  border-bottom-color: rgb(248,248,248);  /* arrow color */
  content: ' ';
  transition: all 200ms ease-in;
}

.popover.notify.top::before {
  right: 166px;
}

.popover.audio.top::before {
  right: 126px;
}

.popover.network.top::before {
  right: 87px;
}

.popover.power.top::before {
  right: 47px;
}

#right-popover {
  display: flex;
  animation-duration: 1s;
  opacity: 0.0;
}

/*
 * Popover Content
 */

.container {
  display: inline-block;
  width: 300px;
}

#notify-content,
#network-content,
#power-content {
  display: none;
}

hr {
  height: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgb(255,255,255);
  border-left: none;
}

.popover .item {
  display: flex;
  padding: 6px 12px;
}

.popover .item:hover,
li:hover {
  background-color: rgba(0,0,0,0.1);
}

.popover .item.with-icon {
  padding-left: 6px;
}

.popover .item.with-icon .left *:nth-child(2) {
  margin-left: 6px;
}

.popover .item .left {
  display: flex;
  flex: 1;
  align-self: center;
  align-items: center;
}

.popover .item .left label {
  width: 100%;
  line-height: 24px;
}

.popover .item .right {
  display: flex;
  align-items: center;
}

.popover .item.menu {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* .notify-content */
.notification-list li {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: calc(6px + 32px + 6px);
}

.notification-list li *:first-child {
  flex: 1;
}

.notification-list li .right {
  opacity: 0.6;
}

.notification-list li *:last-child {
  flex-basis: 100%;
}

/* .audio-content */
#audio-content .left {
  flex: 0;
  flex-basis: 32px;
}

#audio-content .center {
  flex: 1;
  align-self: center;
  margin: 0 12px;
}

#audio-content .center * {
  width: 100%;
}

#music-player:hover {
  background: transparent;
}

#music-player .left {
  flex: 0;
  flex-basis: 48px;
}

#music-player .right .button.flat {
  margin-left: 6px;
  padding: 6px;
  border-radius: 50%;
}

#music-player .right .button.flat:hover {
  background-color: rgba(0,0,0,0.1);
}

/* .network-content */
.network-list li {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
}

.network-list li *:nth-child(2) {
  padding-left: 6px;
  margin-right: auto;
}

/* .power-content */
#power-content .item.with-icon .left {
  flex: 0;
  flex-basis: 48px;
  margin-right: 6px;
}

#power-content .icon {
  position: relative;
  width: 100%;
  height: 48px;
}

#power-content .icon * {
  position: absolute;
  right: 0;
  bottom: 0;
}

#laptop {
  background-image: url("battery-ac-adapter.svg");
}

#mouse {
  background-image: url("input-mouse.svg")
}

#power-content .center {
  display: flex;
  flex-wrap: wrap;
}

#power-content .center * {
  flex-basis: 100%;
  align-self: center;
}