body {
  background-image: url("Wild%20Night.jpg");
}

/*
 * Animations
 */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-32px);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

/*
 * Switch Style
 */

.switch {
  display: none;
}

.switch + label {
  display: inline-block;
  width: 48px;
  height: 24px;

  color: transparent;
  transition: all 100ms ease-in;
}

.switch:not(:checked) + label {
  background-image: url("switch-off.png");
}

.switch:checked + label {
  background-image: url("switch-on.png");
}

/*
 * Desktop Style
 */


/*
 * Popover
 */

.popover.top::before {
  position: absolute;
  top: -23px;
  z-index: 2;

  width: 0;
  height: 0;

  border: 12px solid transparent; /* arrow size */
  border-bottom-color: rgb(248,248,248);  /* arrow color */
  content: ' ';
  transition: all 200ms ease-in;
}

.popover.notify.top::before {
  right: 166px;
}

.popover.audio.top::before {
  right: 126px;
}

.popover.network.top::before {
  right: 87px;
}

.popover.power.top::before {
  right: 47px;
}

.popover.session.top::before {
  right: 2px;
}

#right-popover {
  position: absolute;
  top: 45px;
  right: 1px;

  display: flex;
  animation-duration: 1s;
  opacity: 0.0;
  overflow: visible;

  width: 300px;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
}

/*
 * Popover Content
 */

.container {
  display: inline-block;
  width: 100%;
}

#notify-content,
#network-content,
#power-content,
#session-content {
  display: none;
}

h4 {
  margin: 0;
}

hr {
  height: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgb(255,255,255);
  border-left: none;
}

.popover .item {
  display: flex;
  padding: 6px 12px;
}

.popover .item:hover,
li:hover {
  background-color: rgba(0,0,0,0.1);
}

.popover .item.with-icon {
  padding-left: 12px;
}

.popover .item.with-icon .left *:nth-child(2) {
  margin-left: 12px;
}

.popover .item .left {
  display: flex;
  flex: 1;
  align-self: center;
  align-items: center;
}

.popover .item .left label {
  width: 100%;
  line-height: 24px;
}

.popover .item .right {
  display: flex;
  align-items: center;
}

.popover .item.menu {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* .notify-content */
.notification-list li {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: calc(12px + 32px + 12px);
}

.notification-list li *:first-child {
  flex: 1;
}

.notification-list li .right {
  opacity: 0.6;
}

.notification-list li *:last-child {
  flex-basis: 100%;
}

/* .audio-content */
#audio-content .left {
  flex: 0;
  flex-basis: 32px;
}

#audio-content .center {
  flex: 1;
  align-self: center;
  margin: 0 12px;
}

#audio-content .center * {
  width: 100%;
}

#music-player:hover {
  background: transparent;
}

#music-player .left {
  flex: 0;
  flex-basis: 48px;
}

#music-player .right .button.flat {
  margin-left: 6px;
  padding: 6px;
  border-radius: 50%;
}

#music-player .right .button.flat:hover {
  background-color: rgba(0,0,0,0.1);
}

/* .network-content */
.network-list li {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
}

.network-list li *:nth-child(2) {
  padding-left: 6px;
  margin-right: auto;
}

/* .power-content */
#power-content .item.with-icon .left {
  flex: 0;
  flex-basis: 48px;
  margin-right: 6px;
}

#power-content .icon {
  position: relative;
  width: 100%;
  height: 48px;
}

#power-content .icon * {
  position: absolute;
  right: 0;
  bottom: 0;
}

#laptop {
  background-image: url("battery-ac-adapter.svg");
}

#mouse {
  background-image: url("input-mouse.svg")
}

#power-content .center {
  display: flex;
  flex-wrap: wrap;
}

#power-content .center * {
  flex-basis: 100%;
  align-self: center;
}

/* .session-content */

#session-content .item.with-icon > .left {
  flex: 0;
  flex-basis: 48px;
  align-self: flex-start;
  margin-right: 6px;
  height: 48px;
}

#user-avatar {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.7));
}

#session-content .center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 48px;
}

#session-content .center * {
  flex-basis: 100%;
  align-self: center;
}

#session-content .item.with-icon > .right {
  display: flex;
  flex-basis: 69px;
  flex-direction: column;
  align-items: stretch;
}

#session-content .right .button {
  width: 69px;
  padding: 0;
  text-align: center;
}

#session-content .right .button:nth-child(2) {
  margin-top: 6px;
}

#power-options {
  width: calc(100% - 24px);
  margin-top: 12px;
  margin-bottom: 6px;
}